In [1]:
#Strong method

In [2]:
#capitalize first letter of the string
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [3]:
#lower each word in the string
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [4]:
#center align the string, using a specified character (space is default) as the fill character.

txt = "banana"

x = txt.center(20)

print(x)

       banana

In [5]:
#counts number of times a specified value appears in the string

txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [6]:
#d encodes the string, using the specified encoding. 
#If no encoding is specified, UTF-8 will be used.

txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [7]:
#returns True if the string ends with the specified value, otherwise False.
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [8]:
#sets the tab size to the specified number of whitespaces.
xt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [9]:
# finds the first occurrence of the specified value, else returns -1
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [10]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [11]:
#  finds the first occurrence of the specified value, 
# else raises an exception if the value is not found.
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [12]:
txt = "Company12"  #Check if number

x = txt.isalnum()

print(x)

True

In [13]:
txt = "CompanyX"   #Check if letter

x = txt.isalpha()

print(x)

True

In [14]:
txt = "Company123"  #Check if ASCII

x = txt.isascii()

print(x)

True

In [15]:
txt = "1234"  #check if all are decimal 0 - 9

x = txt.isdecimal()

print(x)

True

In [16]:
txt = "50800"  #check if all are digits

x = txt.isdigit()

print(x)

True

In [17]:
txt = "Demo"  # checks if string is valid identifier

x = txt.isidentifier()

print(x)

True

In [18]:
txt = "hello world!" #check if all letters are lowercase

x = txt.islower()

print(x)

True

In [19]:
txt = "565543"  #check if all letters are numbers

x = txt.isnumeric()

print(x)

True

In [20]:
txt = "Hello! Are you #1?"   #check if all letters are printables

x = txt.isprintable()

print(x)

True

In [21]:
txt = "   "  #check all characters are whitespace

x = txt.isspace()

print(x)

True

In [22]:
#returns true if all words in a text start with a upper case letter, 
# and the rest of the word are lower case letters, otherwise False.

txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [23]:
txt = "THIS IS NOW!"  #check all letters are upper case

x = txt.isupper()

print(x)

True

In [25]:
# joins a string with an iterables

myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [26]:
#  left align the string, using a specified character (space is default) as the fill character
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [28]:
#lower case all letters
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [29]:
# removes any leading characters (space is the default leading character to remove)
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [30]:
# returns a mapping table that can be used with the translate() method to replace specified characters.

txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [31]:
#earches for a specified string, and splits the string into a tuple containing three elements.
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [32]:
#replaces a string with other

txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [39]:
#finds the last occurrence of the specified value, else returns -1
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [34]:
#finds the last occurrence of the specified value, else raises exception

txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [40]:
#right align the string, using a specified character (space is default) as the fill character.
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [42]:
#searches for the last occurrence of a specified string, 
# splits the string into a tuple containing three elements.

txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [44]:
# splits a string into a list, starting from the right
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [45]:
#removes any trailing characters (characters at the end a string), 
#space is the default trailing character to remove

txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [46]:
# splits a string into a list
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [48]:
#splits a string into a list. The splitting is done at line breaks.


txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [50]:
#returns True if the string starts with the specified value, otherwise False.
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [52]:
# removes any leading, and trailing whitespaces.
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [54]:
#interchanges the cases styles upper to lower and lower to upper
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [56]:
# Makes each first character of string uppercase
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [57]:
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [60]:
#uppercase each characters
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [61]:
#adds zeros (0) at the beginning of the string, until it reaches the specified length.
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [63]:
#return a dictionary key’s value.

# input stored in variable a. 
a = {'x':'John', 'y':'Wick'} 
  
# Use of format_map() function 
print("{x}'s last name is {y}".format_map(a))

John's last name is Wick